{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %} Edit {% endblock %}

{% block nav_blog %} class="active" {% endblock %}

{% block content %}
    <br><br>
<form class="form" method="post">
    {% csrf_token %}
    {% bootstrap_form blog_form %}
    {% buttons %}
        <div class="text-right">
            <div class="btn-group">
                <button type="submit" class="btn btn-primary btn-lg">{% bootstrap_icon "share" %} Publish</button>
                {% if blog_id %}
                    <a href="{% url 'blog:view' username blog_id %}" class="btn btn-primary btn-lg" role="button">{% bootstrap_icon "remove" %} Cancel</a>
                {% else %}
                    <a href="{% url 'blog:blog' username %}" class="btn btn-primary btn-lg" role="button">{% bootstrap_icon "remove" %} Cancel</a>
                {% endif %}
            </div>
        </div>
    {% endbuttons %}
</form>
{% endblock %}