{% extends 'base_blog.html' %}
{% load bootstrap3 %}

{% block title %} {{ blog.title }} {% endblock %}

{% block blog_list %}
<div>
    <h2 class="page-header"> {{ blog.title }} </h2>
    <p class="text-right text-muted"> {{ blog.created_time }} </p>
    <div class="popover-content">
        <p class="lead">{{ blog.content|linebreaksbr }}</p><br>
    </div>

    <div class="text-right">
        <div class="btn-group">
            <a href="{% url 'blog:edit' username blog.id %}" class="btn btn-primary btn-lg" role="button">{% bootstrap_icon "edit" %} Edit</a>
            <a href="{% url 'blog:blog' username %}" class="btn btn-primary btn-lg" role="button">{% bootstrap_icon "chevron-left" %} Back</a>
        </div>
    </div>
</div>
{% endblock %}